.room {
  margin: $margin-auto;
  width: $mobile-container-width;
  border: 2px solid $black-color;
}

@media screen and (min-width: $tablet-width) {
  .room {
    width: $tablet-container-width;
  }
}
