.main {
  margin: $margin-auto;
  width: $mobile-container-width;
}

@media screen and (min-width: $tablet-width) {
  .main {
    width: $tablet-container-width;
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .main {
    width: $desktop-container-width;
  }
}
